.editButton {
  background-color: #2f86a6;
  width: 30px;
  height: 25px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}
.deleteButton {
  background-color: #fc4f30;
  width: 30px;
  height: 25px;
  cursor: pointer;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
}
