@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

.navbar {
  display: grid;
  grid-template-columns: repeat(7, 0.5fr);
  width: auto;
  height: 8vh;
  background-color: #222831;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  align-items: center;

  font-size: 18px;

  a {
    text-decoration: none;

    color: #ffffff;
  }
}

.homediv {
  grid-column: 1;
  justify-self: left;
  margin-left: 3em;
}

.navullist {
  list-style-type: none;

  grid-column: 4;
}
